@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-color: #D1D5Db;
}
footer {
    background-color: #D1D5Db;
}

.anu {
  padding: 10px 20px;
  width: 200px; 
  margin-left: auto; 
  margin-right: auto;
}
/* css nggo produke */
  button {
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .ndas {
    background-color: #D1D5Db;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-weight: bold;
  }

  .cart-page {
    text-align: center;
  }

  tulistengah {
    text-align: center;
  }

  .begron {
  background: url("img/begron.jpg");
  }
  
  .example {
    background-color: #00ff62;
  }